html,
body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
}

.Scene {
  flex-grow: 1;
}

.Widgets {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
}

.Widget {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 0.5em;
  box-shadow: 0 0 0 1px black;
}

.Widget.active {
  background-color: lightblue;
  transition-property: background-color;
  transition-duration: 1s;
}

.Widget {
  background-color: white;
  transition-property: background-color;
  transition-duration: 1s;
}